
.if{ margin-left:300px;background-color:lime;width:30%;}
.ma{ background-color:silver;}

h1{text-align:center;
color:white;
margin-top:10px;}
#d1{border:2px solid white;
height:30px;
background:white;
margin-top:10px;
text-align:center;
}
div{width:20%;
padding:0px;
margin-top:20px;
display:inline-block;}
img{width:250px;
height:20px;}
#img{width:300px;
margin-bottom:10px;
height:280px;}
#di{width:300px;
margin-bottom:10px;
background:white;
height:450px;}
.id{font-size:20px;
font-weight:bold;margin-left:15px;
text-decoration:none;
color:black;
}

.id1{font-size:150%;
margin-left:15px;
text-decoration:none;
color:black;
}
p{margin-left:200px;}
#div1{background-color:lime;}
	h2{margin-left:480px;color:blue;font-size:300%;}
	#id111{margin-left:50px;color:black;
	font-size:180%;}
.res{font-size:20px;
font-weight:bold;
color:blue;}

.res1{font-size:170%;

color:blue;}
#dh{width:80%;
border:2px solid white;
border-radius:20px;
padding:10px;
padding-left:50px;
margin-left:20px;
display:inline-block;
margin-top:2px;
margin-left:20px;
}
#p{font-size:inline-block;}
#dim{width:1150px;
border-radius:30px;
height:600px;}
#div2{width:100%;
background:white;
border-radius:0px;
border:0px solid white;}
#sub{width:150px;
height:35px;
font-weight:bold;
border-radius:20px;
background:lightblue;}
#sub:hover{background:aqua;}
a:hover{background:aqua;}
#a:hover{background:lime;}
#div2 form{margin-left:100px;}
.a{width:300px;margin-left:10px;
padding-left:10px;
color:black;
font-weight:bold;
border-radius:20px;
height:25px;
border:1px solid white;}

#f2,#f3{display:inline-block;}
#span{background-color:lime;}
#h1{margin:auto;font-size:250%;font-style:italien;
	font-family:algerian;
	margin-left:320px;color:black;}
	#h11{margin:auto;font-size:250%;font-style:italien;
	font-family:algerian;
	margin-left:70px;color:black;text-align:center;}
#b{height:78%;}
 header img{display:inline;}			
header 
{background-image:url("index.4jpg.jpg")  ;height:20%;}
ids{margin-top:0px;margin-bottom:0px;}


#bodyl 
{background:url("19.jpg")  ;}
.app{border:2px solid blue;
display:block;
width:150px;
float:right;

border-radius:20px;
font-size:20px;
background:white;
margin-top:10px;
text-decoration:none;
text-align:center;
color:black;
margin-bottom:10px;}


#app{border:2px solid lime;
display:block;
width:150px;
float:right;
border-radius:20px;
font-size:20px;
background:lightblue;
margin-top:10px;
text-decoration:none;
text-align:center;
color:black;
margin-bottom:10px;}

#div2{margin-top:0px;background:lime;margin-left:0px;
margin-bottom:0px;margin-right:0px;}

#di{margin-top:20px;margin-left:20px;
margin-bottom:0px; }
footer{padding-bottom:20px;}
#dim{margin-left:20px;}

#a1{margin-top:10px;}

.ma{ background-color:silver;display:inline-block;

border:2px solid white;
height:40%;
width:15%;

border-radius:20px;
font-size:30px;
background:silver;
margin-top:10px;
text-decoration:none;
text-align:center;
color:black;
margin-bottom:10px;
height:30%;

}
a{ background-color:silver;display:inline-block;
border:2px solid white;
width:30%;
border-radius:20px;
font-size:30px;
background:silver;
margin-top:10px;
text-decoration:none;
text-align:center;
color:black;
margin-bottom:10px;
}
#res{background-color:white;}

	.gf{width:15%;display:inline-block;
	margin-left:7px}

	#inpu{width:50%;height:135px;font-size:120%;
	
	border:2px solid black ;border-radius:10px;}
	.gfi{width:15%;display:inline-block;
	margin-left:9px;}
	.lab{font-size:170%;display:block;}
	.inp{width:50%;height:35px;font-size:120%;
	
	border:2px solid black ;border-radius:10px;}
	#jeu{width:100%; margin-left:270px;}
#spo{font-size:150%;}
#spol{font-size:120%;height:170px;}
	#h11{color:white;}
	#span{background-color:blue;}
	#div1{background-color:blue;}
	a{background-color:white;}
	#div2{background-color:blue;}
	h2{ color:white;}
	#body{background-image:url("19.jpg");}
	.app:hover{background-color:aqua;color:navy;}
	#kal{background-color:rgb(9,20,50);
	color:white;border:2px solid rgb(9,20,50)}
	#bb{margin-top:6px;margin-bottom:0px;margin-left:400px;color:black;}
	
	#di{}
	.res{color:black;}